* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Beaufort';
    src: url(../fonts/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf) format(truetype);
}

:root {
    --font01: 'Beaufort';
    --font02: 'Spiegel', "Arial Narrow", Arial, sans-serif;
    --alt_color: #A98A4E;
    --background: #000913;
    --iniciar: #282828;
    --iniciar_active: #5e5d5d;
    --jogar: #0BC4E2;
    --jogar_active: #aadbe2;
    --menu: #00012262;

    /*
    --desc_azul: #07B1F0;
    --desc_amarelo: #F0B242;
    --desc_roxo: #8379FE;
    --desc_verde: #156C54;
    --desc_laranja: #FF4500;
    --desc_amarelo_fraco: #F5EE99;
    */
}

html,
body {
    background-color: var(--background);
    display: block;
    width: 100%;
    gap: 30px;
    position: absolute;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
}

h1 {
    font-size: 80px;
    font-family: var(--font01);
}

h3.skill_title {
    font-family: var(--font02);
}

/*Menu*/

.nav {
    width: 100%;
    height: 80px;
    background-color: var(--menu);
    position: fixed;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Itens do Menu*/

.menu__logo {
    width: 70px;
}

.menu__links__internos {
    font-family: var(--font02);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin: 20px;
}

.menu__links {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font02);
    font-size: 20px;
    font-weight: 800;
}

.menu__links:hover {
    background-color: var(--iniciar);
    cursor: pointer;
    border-style: solid;
    border-top: none;
    border-bottom-color: var(--jogar);

}

.menu__links__externos {
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 50px;
    margin-left: 0px;

}

a {
    color: var(--alt_color);
}

#menu__btn__iniciar,
#menu__btn__jogar {
    color: white;
    font-family: var(--font02);
}

.menu__btn__iniciar,
.menu__btn__jogar {
    border-radius: 15px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-family: var(--font02);
    font-size: 20px;
    font-weight: 800;
}

.menu__btn__iniciar {
    background-color: var(--iniciar);
}

.menu__btn__iniciar:hover {
    background-color: var(--iniciar_active);
    cursor: pointer;
}

.menu__btn__jogar {
    background-color: var(--jogar);
}

.menu__btn__jogar:hover {
    background-color: var(--jogar_active);
    cursor: pointer;
}

/*Infos da Página Inicial*/

.info__img {
    width: 1104px;
    position: relative;
    margin-top: 80px;
}

.info__title__1 {
    color: white;
    font-family: var(--font01);
    font-weight: bolder;
    font-size: 24px;
    top: 680px;
    left: 450px;
    position: absolute;
}

.info__title__2 {
    color: white;
    font-family: var(--font01);
    font-weight: bolder;
    font-size: 94px;
    top: 700px;
    left: 390px;
    position: absolute;
}

/*Configs da Section da Página Inicial*/

.content {
    font-family: var(--font02);
    text-align: center;
    color: white;
    width: 984px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-style: groove;
    border-color: var(--alt_color);
    gap: 5px;
    padding: 80px;
    margin-bottom: 40px;
}

.content__info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content__2 {
    font-family: var(--font02);
    text-align: center;
    color: white;
    width: 984px;
    height: fit-content;
    border-style: groove;
    border-color: var(--alt_color);
    gap: 0px;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 80px;
}

/*Configs do Conteúdo da Section da Página Inicial*/

.content__info p,
.content__dif p {
    color: var(--alt_color);

}

.content__info__img {
    width: 50px;
}

.content__dif__img {
    max-width: 100%;
    width: 100px;
    height: 10px;
    display: inline-block;
}

.content__dif__img h4 {
    margin-top: 34px;
}

.content__dif__img__1 {
    display: inline-block;
    width: 30.6667%;
    height: 100%;
    padding-right: 4%;
    opacity: 1;
    background-color: rgb(8, 215, 247);
    background-clip: content-box;
    transform: skewX(-40deg);
}

.content__dif__img__2 {
    display: inline-block;
    width: 30.6667%;
    height: 100%;
    padding-right: 4%;
    opacity: 0.2;
    background-color: rgb(8, 215, 247);
    background-clip: content-box;
    transform: skewX(-40deg);
}

.lore {
    width: 50%;
}

/*Configs da Section de Habilidades*/

.skill__title {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.skill__info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.skill__img {
    width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.skill__description {
    font-family: var(--font01);
    font-size: 15px;
    text-align: justify;
}

.skill__demo {
    width: 500px;
}